extends layout.pug

block content
  - var pageName = 'blog'
  - var date = new Date(createdAt)

  article
    hgroup
      h1= title
      span.subhead 
        span= description
        span= date.toDateString()
  section !{markup}
