extends layout.pug

block content
  - var pageName = 'blog'

  article
    hgroup
      h1 #{title}
      span.subhead #{description} - #{new Date(createdAt).toLocaleDateString()}
  section !{markup}
