extends layout.pug

block head 
  - var pageName = title

block content
  - var date = new Date(createdAt)
  article
    hgroup
      h1= title
      span.subhead 
        span= description
        span= date.toDateString()
  section !{markup}
