extends layout.pug

block content
  - var pageName = 'blog'

  article
    hgroup
      h1= title
      span.subhead 
        span= description
        span= new Date(createdAt).toLocaleDateString()
  section !{markup}
