footer  
  span.content
    | &copy; 2023 Jonathan Blades
div#Notifications
script(src="./scripts/index.ts" type="module")
template#NotificationTemplate 
  dialog
    details 
      summary Notification Title 
      div.description Notification description
    button.close x