footer
  form#Preferences.hide
    label Use Dyslexic Styles
      input(name="showDyslexicStyles" aria-label="Use dyslexic styles" type="checkbox")
    label Show Enhanced Styles
      input(name="showEnhancedStyles" aria-label="Show enhanced styles" type="checkbox")
  | &copy; Jonathan Blades 2022
  //- button#Settings(type="button" disabled aria-label="Settings. Javascript needs to be enabled to access Settings.") Show Settings
script(src="./scripts/index.ts" type="module")
template#SettingsButtonTemplate
  button.icon-button(type="button" aria-label="Show Settings.")#SettingsButton
    svg(width="1rem", height="1rem")
      use(xlink:href="images/settings-icon.svg#SettingsIcon")