mixin head(currentPage)
  meta(charset="utf-8")
  title= 'b-links - ' + currentPage
  meta(name="description" content="A curated list of useful links.")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  link(rel="apple-touch-icon" sizes="180x180" href="/src/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/src/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/src/favicon-16x16.png")
  link(rel="manifest" href="/src/site.webmanifest")

  link(rel="stylesheet" href="/src/css/styles.scss")
  link(id="BodyFontStyles" rel="stylesheet" href="/src/css/body-font.scss" disabled)
  link(id="HeaderFontStyles" rel="stylesheet" href="/src/css/header-font.scss" disabled)
  link(id="DyslexicStyles" rel="stylesheet" href="/src/css/dyslexic-support.scss" disabled)

  meta(name="theme-color" content="#fafafa")