header
  h1 b-links
    span(class="subhead") Useful Links
nav
  ul
    li
      a(class="tag" href="./index.pug" aria-label="About b-links.") About
    li
      a(class="tag" href="./links.pug" aria-label="Useful links.") Links
    li
      a(class="tag" href="./blog.pug" aria-label="My blog.") Blog