extends ../templates/layout.pug
include ../templates/mixins.pug

block content
  - var pageName = 'index'
  article
    hgroup
      h1 b-links
      span.subhead A curated list of useful links...
    +latestPosts(posts)
    +linkCategories(links)