extends ../templates/layout.pug
include ../templates/mixins.pug

block head 
  - var pageName = 'home'

block content
  article
    hgroup
      h1 b-links
      span.subhead A curated list of useful links...
    +latestPosts(posts)
    +linkCategories(links)