- var pageName = ''

doctype html
html(lang="en-GB")
  head
    block head
    include head.pug
    +head(pageName)
  body
    .page-content
      main
        block content
      include nav.pug
      +navbar(pageName)
    include footer.pug
    block scripts