extends ../templates/layout.pug

block content
  - var pageName = 'links'

  article
    hgroup
      h1 Links
      span.subhead A curated list of useful links...
    each section in sections
      section          
        h2= section.title
        ul 
        each link in section.links
          li
            a(
              href=link.url
              aria-label=link.title
              )
              = link.title