extends layout.pug
include mixins.pug

block content
  - var pageName = 'links'

  article
    hgroup
      h1 Links
      span.subhead A curated list of useful links...
    +linkCategories(sections)
    section
      h2 All Links 
      each section in sections      
        h3(id=section.shortTitle)= section.title
          a.page-link(href='#' + section.shortTitle)
        ul 
        each link in section.links
          li
            a(
              href=link.url
              aria-label=link.title
              )
              = link.title