extends ../templates/layout.pug

block head 
  - var pageName = 'blog management'

block content
  h1 Blog Management
  article
    h2 Blog Post 
    form#PostTypeForm.post-form-type-selection
      label.radio-control Add
        input.selected(type="radio" name="post_type_selector" value="ADD" aria-label="Add Blog Post." checked) 
      label.radio-control Edit
        input(type="radio" name="post_type_selector" value="EDIT" aria-label="Edit Blog Post.") 
      select(disabled)
    form#PostForm
      label Post Title *
        input(name="title" aria-label="Title for post" type="text" required)
      label Post Description *
        input(name="description" aria-label="Description for post" type="text" required)
      label Post Content *
        textarea(name="post" required)
      label.post-preview Post Preview 
        div#PostPreview
      label Post Categories
        input(name="categories" aria-label="Categories for post" type="text")
      label Id 
        input(name="id" aria-label="Id for updating existing post" type="text" readonly)
      label Save Draft 
        input(name="draft" aria-label="Save post as a draft" type="checkbox" checked)
      button(type="submit" aria-label="Submit post") submit

block scripts 
  script(src="../scripts/management.ts" type="module")
  link(rel="stylesheet" href="/src/css/management.scss")