doctype html
html(lang="en-GB")
  head
    include ../templates/head.pug
  div.page-content
    div
    main
      article
        hgroup
          h1 b-links
          span.subhead A curated list of useful links...
    include ../templates/nav.pug
    +navbar('index')
  include ../templates/footer.pug