extends ../templates/layout.pug

block header 
  div

block content
  - var pageName = 'about'

    div
    main
      article
        hgroup
          h1 b-links
          span.subhead A curated list of useful links...