doctype html
html(lang="en-GB")
  head
    include ../templates/head.pug
    link(rel="stylesheet" href="/src/css/management.scss")
  div.page-content
    include ../templates/header.pug
  main
    h1 Management
    article
      h2 Blog Post 
      form#PostTypeForm.post-form-type-selection
        label.radio-control Add
          input.selected(type="radio" name="post_type_selector" value="ADD" aria-label="Add Blog Post." checked) 
        label.radio-control Edit
          input(type="radio" name="post_type_selector" value="EDIT" aria-label="Edit Blog Post.") 
        select(disabled)
      form#PostForm
        label Post Title *
          input(name="title" aria-label="Title for post" type="text" required)
        label Post Description *
          input(name="description" aria-label="Description for post" type="text" required)
        label Post Content *
          textarea(name="post" required)
        label.post-preview Post Preview 
          div#PostPreview
        label Post Categories
          input(name="categories" aria-label="Categories for post" type="text")
        label Id 
          input(name="id" aria-label="Id for updating existing post" type="text" readonly)
        button(type="submit" aria-label="Submit post") Submit
    article 
      h2 Add Link 
      form#LinkForm
        label Link Title *
          input(name="title" aria-label="Title for link" type="text" required)
        label Link URL *
          input(name="url" aria-label="URL for link" type="text" required)
        label Link Categories
          input(name="categories" aria-label="Categories for link" type="text")
        button(type="submit" aria-label="Submit link") Submit

    include ../templates/nav.pug
    +navbar('management')
  include ../templates/footer.pug
  script(src="../scripts/management.ts" type="module")