@import './vars.scss';

body {
  --theme-hue-saturation: 230, 71%;
  --theme-lightness: 24%;
  --theme-color: hsl(var(--theme-hue-saturation), var(--theme-lightness));
  --primary-font-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 8%));
  --link-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 20%));
  --link-visited-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 10%));
  --background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 74%));
  --secondary-background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 70%));
  --tooltip-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 16%));

  @media (prefers-color-scheme: dark) {
    --theme-lightness: 76%;
    --theme-color: hsl(var(--theme-hue-saturation), var(--theme-lightness));
    --primary-font-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 8%));
    --link-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 20%));
    --link-visited-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 10%));
    --background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 74%));
    --secondary-background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 70%));
    --tooltip-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 16%));

    &.light-mode {
      --theme-lightness: 24%;
      --theme-color: hsl(var(--theme-hue-saturation), var(--theme-lightness));
      --primary-font-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 8%));
      --link-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 20%));
      --link-visited-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 10%));
      --background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 74%));
      --secondary-background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 70%));
      --tooltip-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 16%));
    }
  }

  &.dark-mode {
    --theme-lightness: 76%;
    --theme-color: hsl(var(--theme-hue-saturation), var(--theme-lightness));
    --primary-font-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 8%));
    --link-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 20%));
    --link-visited-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 10%));
    --background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 74%));
    --secondary-background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 70%));
    --tooltip-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 16%));
  }
}

body {
  display: -ms-grid;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  overflow: hidden;

  background-color: var(--background-colour);

  color: var(--primary-font-colour);

  -ms-grid-rows: auto;
  accent-color: var(--theme-color);

  &.dark-mode {
    --theme-lightness: 76%;
    --theme-color: hsl(var(--theme-hue-saturation), var(--theme-lightness));
    --primary-font-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 8%));
    --link-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 20%));
    --link-visited-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 10%));
    --background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 74%));
    --secondary-background-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) - 70%));
    --tooltip-colour: hsl(var(--theme-hue-saturation), calc(var(--theme-lightness) + 16%));
  }

  a[aria-label],
  button[aria-label] {
    position: relative;

    &:hover {
      &::after {
        width: max-content;

        background-color: var(--tooltip-colour);

        color: var(--background-colour);
      }
    }
  }

  a {
    color: var(--link-colour);

    &:visited {
      color: var(--link-visited-colour);
    }

    &:active {
      color: var(--theme-color);
    }
  }

  input,
  textarea,
  select {
    border-color: var(--primary-font-colour);
  }

  input {
    &[type=range] {
      width: 100%;
      margin: 5.8px 0;

      background-color: transparent;

      -webkit-appearance: none;

      // &:focus {
      //   &::-webkit-slider-runnable-track {
      //     background: #367ebd;
      //   }

      //   &::-ms-fill-lower {
      //     background: #3071a9;
      //   }

      //   &::-ms-fill-upper {
      //     background: #367ebd;
      //   }
      // }

      &:disabled {
        cursor: default;

        &::-webkit-slider-runnable-track {
          cursor: default;
        }

        &::-webkit-slider-thumb {
          cursor: default;
        }

        &::-moz-range-track {
          cursor: default;
        }

        &::-moz-range-thumb {
          cursor: default;
        }

        &::-ms-track {
          cursor: default;
        }

        &::-ms-thumb {
          cursor: default;
        }
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;

        border: 0.9px solid var(--background-colour);
        border-radius: 1.3px;

        background: var(--link-colour);

        cursor: pointer;
      }

      &::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        margin-top: -6.7px;

        border: 2px solid var(--background-colour);
        border-radius: 10px;

        background: var(--theme-color);

        cursor: pointer;

        -webkit-appearance: none;
      }

      &::-moz-range-track {
        width: 100%;
        height: 8.4px;

        border: 0.9px solid var(--background-color);
        border-radius: 1.3px;

        background: var(--link-colour);

        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 20px;
        height: 20px;

        border: 2px solid var(--background-colour);
        border-radius: 10px;

        background: var(--theme-color);

        cursor: pointer;
      }

      &::-ms-track {
        width: 100%;
        height: 8.4px;

        border-width: 6.8px 0;
        border-color: transparent;

        background: transparent;

        color: transparent;

        cursor: pointer;
      }

      &::-ms-fill-lower {
        border: 0.9px solid var(--background-colour);
        border-radius: 2.6px;

        background: var(--theme-color);
      }

      &::-ms-fill-upper {
        border: 0.9px solid var(--background-colour);
        border-radius: 2.6px;

        background: var(--secondary-background-colour);
      }

      &::-ms-thumb {
        width: 20px;
        height: 20px;
        margin-top: 0;

        border: 2px solid var(--background-colour);
        border-radius: 10px;

        background: var(--theme-color);

        cursor: pointer;
        /*Needed to keep the Edge thumb centred*/
      }
    }
  }

  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }

  header {
    grid-row: 1;
  }

  nav {
    grid-row: 2;

    ul {
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
    }
  }

  main {
    grid-row: 3;

    button {
      border-color: var(--secondary-background-colour);

      background-color: var(--secondary-background-colour);
    }
  }

  footer {
    grid-row: 4;

    color: var(--background-colour);

    .content {
      background-color: var(--theme-color);

      button {
        color: var(--background-colour);

        svg {
          fill: var(--background-colour);
        }
      }
    }
  }

  button,
  .tag {
    border-color: var(--theme-color);

    &:not(:disabled):focus,
    &:not(:disabled):focus-visible {
      border-color: var(--theme-color);
    }
  }

  .tag {
    background-color: var(--theme-color);

    color: var(--background-colour);

    &:visited {
      color: var(--background-colour);
    }

    &.selected {
      background-color: var(--primary-font-colour);
    }

    div {
      &:before {
        background-color: var(--background-colour);
      }
    }
  }

  blockquote {
    border-left-color: var(--link-colour);
  }

  #Preferences {
    background-color: var(--primary-font-colour);
  }
}

::-webkit-scrollbar-track {
  border-radius: $border-radius;

  background-color: transparent;

  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar {
  width: 12px;

  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  margin-top: $padding-small;

  border-radius: $border-radius;

  background-color: var(--theme-color);

  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: var(--primary-font-colour);
  }

  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
