@import './vars.scss';

body {
  @include light-theme-operands;

@include theme-props;

  --theme-hue: 230;
  --theme-hue-saturation: var(--theme-hue), 71%;

  @media (prefers-color-scheme: dark) {
    @include dark-theme-operands;

    &.light-mode {
      @include light-theme-operands;
    }
  }

  &.dark-mode {
    @include dark-theme-operands;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  font-size: $body-font-size-mobile;
}

body,
input,
select,
button,
button::after,
a::after,
.subhead {
  font-family: $font-family;
  font-size: $font-size-regular;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;

  background-color: $background-colour;
  background-color: var(--background-colour);

  color: $primary-font-colour;
  color: var(--primary-font-colour);
  line-height: 1.5;

  accent-color: var(--theme-colour);

  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
}

h1,
h2,
h3,
.title,
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  column-gap: $padding-standard;

  font-family: $font-family-headings;
}

h1,
h2,
h3 {
  margin: $padding-standard 0;
}

h1 {
  padding-bottom: $padding-standard;

  border-bottom: 2px solid fade-out($theme-colour, 0.2);
  border-bottom-color: var(--border-colour);

  font-size: $font-size-xxl;
  font-weight: 900;
}

h2 {
  font-size: $font-size-xl;
  font-weight: 700;
}

h3 {
  font-size: $font-size-l;
}

.title {
  margin-left: $padding-large;

  font-size: $font-size-xl;
  font-weight: 900;
  text-decoration: none;
  white-space: nowrap;

  &:visited,
  &:active,
  &:focus {
    color: $primary-font-colour;
    color: var(--primary-font-colour);
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &[aria-label]:hover:after {
    top: unset;
    bottom: -$padding-standard;
  }
}

.nav-item {
  align-items: flex-end;
  width: 100%;
  padding: 0.25rem $padding-standard;

  border: none;

  background: none;

  color: inherit;
  font-size: $font-size-l;
  font-weight: 900;
  text-align: right;
  text-decoration: none;

  &:visited,
  &:active,
  &:focus,
  &:not(:disabled):visited,
  &:not(:disabled):active,
  &:not(:disabled):focus {
    border: none;

    color: inherit;
  }
}

.title[aria-label],
nav ul {
  position: sticky;
  top: 0;
}

a[aria-label],
button[aria-label] {
  position: relative;

  &:hover {
    &::after {
      position: absolute;
      top: -(calc($padding-large - $padding-small));
      left: $padding-standard;
      width: -moz-max-content;
      width: max-content;
      padding: 0.25rem 0.5rem;

      border-radius: $border-radius;

      background-color: $tooltip-colour;
      background-color: var(--tooltip-colour);

      color: $background-colour;
      color: var(--background-colour);
      font-size: $font-size-s;
      font-weight: 400;

      content: attr(aria-label);
      pointer-events: none;
      z-index: 1;
    }
  }
}

a,
input,
textarea,
button,
select,
label {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }
}

input[type='text'],
textarea {
  cursor: text;
}

a {
  color: $link-colour;
  color: var(--link-colour);

  &:visited {
    color: $link-visited-colour;
    color: var(--link-visited-colour);
  }

  &:active {
    color: $theme-colour;
    color: var(--theme-colour);
  }
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  white-space: nowrap;

  gap: $padding-standard;

  &:has(
  a:disabled,
  input:disabled,
  textarea:disabled,
  button:disabled,
  select:disabled
  ) {
    cursor: not-allowed;
    opacity: 0.75;
  }

  &.radio-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 0.5em;
  }
}

input,
textarea,
select {
  margin: 0;

  border: 1px solid $primary-font-colour;
  border-radius: $border-radius;
  border-color: var(--primary-font-colour);
}

input {
  &[type='checkbox'] {
    width: 1rem;
    height: 1rem;
    margin: 0;
  }

  &[type='radio'] {
    width: 1rem;
    height: 1rem;
  }

  &[type=range] {
    width: 100%;
    margin: 5.8px 0;

    background-color: transparent;

    -webkit-appearance: none;

    &:disabled {
      cursor: default;

      &::-webkit-slider-runnable-track,
      &::-webkit-slider-thumb,
      &::-moz-range-track,
      &::-moz-range-thumb,
      &::-ms-track,
      &::-ms-thumb {
        cursor: default;
      }
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8.4px;

      border: 0.9px solid var(--background-colour);
      border-radius: 4.2px;

      background: var(--link-colour);

      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      margin-top: -6.7px;

      border: 2px solid var(--background-colour);
      border-radius: 10px;

      background: var(--theme-colour);

      cursor: pointer;

      -webkit-appearance: none;
    }

    &::-moz-range-track {
      width: 100%;
      height: 8.4px;

      border: 0.9px solid var(--background-color);
      border-radius: 4.2px;

      background: var(--link-colour);

      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 20px;
      height: 20px;

      border: 2px solid var(--background-colour);
      border-radius: 10px;

      background: var(--theme-colour);

      cursor: pointer;
    }

    &::-ms-track {
      width: 100%;
      height: 8.4px;

      border-width: 6.8px 0;
      border-color: transparent;

      background: transparent;

      color: transparent;

      cursor: pointer;
    }

    &::-ms-fill-lower {
      border: 0.9px solid var(--background-colour);
      border-radius: 2.6px;

      background: var(--theme-colour);
    }

    &::-ms-fill-upper {
      border: 0.9px solid var(--background-colour);
      border-radius: 2.6px;

      background: var(--secondary-background-colour);
    }

    &::-ms-thumb {
      width: 20px;
      height: 20px;
      margin-top: 0;

      border: 2px solid var(--background-colour);
      border-radius: 10px;

      background: var(--theme-colour);

      cursor: pointer;
      /*Needed to keep the Edge thumb centred*/
    }
  }
}

select {
  padding: $padding-small $padding-standard;
}

footer .content {
  padding: 0 $padding-page-width;
}

header,
nav {
  z-index: 1;
}

header {
  display: flex;
  top: 0;
  left: 0;
  align-items: flex-start;
  justify-content: space-between;
}

main {
  flex: 1 1 auto;
  padding: 0 $padding-large;
  overflow: auto;

  button {
    padding: $padding-small $padding-standard;

    border-color: $secondary-background-colour;
    border-color: var(--secondary-background-colour);

    background-color: $secondary-background-colour;
    background-color: var(--secondary-background-colour);
  }
}

section {
  margin-right: $section-margin-right;
}

footer {
  position: relative;
  position: sticky;
  bottom: 0;

  color: $background-colour;
  color: var(--background-colour);
  font-size: $font-size-s;

  transition: margin-top $default-transition;

  .content {
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: $padding-small $padding-page-width;

    background-color: $theme-colour;
    background-color: var(--theme-colour);
  }
}

nav {
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  li {
    width: 100%;

    &:hover {
      background-color: $secondary-background-colour;
      background-color: var(--secondary-background-colour);

      a,
      button {
        text-decoration: underline;

        &[aria-label]:hover:after {
          top: unset;
          bottom: -$padding-standard;
        }
      }

      #Preferences {
        text-decoration: none;
      }
    }

    &.selected {
      background-color: $theme-colour;
      background-color: var(--theme-colour);

      color: $background-colour;
      color: var(--background-colour);

      &:hover {
        a,
        button {
          text-decoration: none;
        }
      }
    }
  }
}

blockquote {
  margin: 0;
  padding: $padding-small $padding-large;

  border-left: 5px solid $link-colour;
  border-left-color: var(--link-colour);

  font-style: italic;
}

code,
kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.2rem;
  padding: 0 $padding-small;

  border: 1px solid $border-colour;
  border-radius: 4px;
  border-color: var(--border-colour);

  background-color: $secondary-background-colour;
  background-color: var(--secondary-background-colour);

  vertical-align: baseline;

  &[data-lang]::before {
    margin-right: $padding-small;
    padding: 0 $padding-small 0 0;

    border-right: 1px solid $border-colour;
    border-color: var(--border-colour);

    font-family: $font-family;
    font-size: $font-size-s;
    line-height: 1.2rem;

    content: attr(data-lang);
  }
}

kbd {
  border-right-width: 3px;
  border-bottom-width: 3px;
}

.subhead {
  display: flex;
  justify-content: space-between;

  font-size: 1rem;
  font-weight: 400;

  opacity: 0.8;
}

button {
  border: $border-width $theme-colour solid;
  border-radius: $border-radius;
  border-color: var(--theme-colour);

  line-height: 1.5;

  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    text-decoration: underline;
  }

  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    border: $border-width $theme-colour solid;
    border-color: var(--theme-colour);
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  gap: $padding-large;
}

.theme-picker {
  > * {
    margin-top: $padding-small;
  }

  label {
    margin-left: $padding-small;
  }
}

.settings {
  &.hide {
    display: none;
  }
}

.latest-posts {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  width: max-content;
  max-width: 100%;

  gap: $padding-standard;

  h3 {
    flex-direction: column;
  }

  .post {
    flex-grow: 1;
    padding: $padding-standard;

    border: $border-width $theme-colour solid;
    border-radius: $border-radius;
    border-color: var(--theme-colour);

    text-decoration: none;

    &:hover {
      background-color: $theme-colour;
      background-color: var(--theme-colour);

      color: $background-colour;
      color: var(--background-colour);
    }
  }
}

.page-link {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: $padding-small;

  opacity: 0.5;

  gap: 4px;

  &:hover {
    opacity: 1;
  }

  &::before,
  &::after {
    width: $padding-small;
    height: $padding-small;

    border: 2px solid;

    content: '';
  }

  &::before {
    border-right: none;
    border-top-left-radius: $padding-small;
    border-bottom-left-radius: $padding-small;
  }

  &::after {
    border-left: none;
    border-top-right-radius: $padding-small;
    border-bottom-right-radius: $padding-small;
  }
}

#Preferences {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 300px;
  margin: 0;
  padding: $padding-standard;
  overflow: hidden;
  column-gap: $padding-large;

  opacity: 1;
  transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.3s ease;

  row-gap: $padding-standard;

  &.hide {
    max-height: 0;
    padding: 0 1rem;

    opacity: 0;
  }
}

#Loaders,
#Notifications {
  display: flex;
  position: absolute;
  bottom: $padding-large;
  flex-direction: column;
  padding: $padding-standard;

  gap: $padding-small;

  dialog,
  .loader {
    position: relative;
    width: 50vw;
    max-width: 450px;
    margin: 0;
    padding: 0;

    border: 1px solid;
    border-radius: $border-radius;

    background-color: transparent;

    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

#Loaders {
  left: 0;
  align-items: flex-start;

  .mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    backdrop-filter: blur(10px);
    background-color: rgb(128,128,128);
    background-color: var(--mask-colour);

    &.hide {
      display: none;
    }

    & ~ .loader {
      opacity: 1;
    }
  }

  .loader {
    width: auto;
    padding: $padding-small $padding-standard $padding-small $padding-large;

    border-color: $secondary-background-colour;
    border-color: var(--secondary-background-colour);

    background-color: $primary-font-colour;
    background-color: var(--primary-font-colour);

    color: $secondary-background-colour;
    color: var(--secondary-background-colour);
    font-size: $font-size-s;

    opacity: 0.5;
    transition: opacity $long-transition;

    &:hover {
      opacity: 1;
    }

    &::before {
      display: flex;
      position: absolute;
      top: $padding-small;
      left: $padding-small;
      width: $padding-standard;
      height: $padding-standard;

      border: 2px solid;
      border-radius: 50%;
      border-color: transparent $secondary-background-colour $secondary-background-colour $secondary-background-colour;
      border-color: transparent var(--secondary-background-colour) var(--secondary-background-colour) var(--secondary-background-colour);

      animation: spin 2s infinite linear;
      content: '';

      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }
    }

    &.closing {
      opacity: 0;
    }
  }
}

#Notifications {
  right: 0;
  align-items: flex-end;

  dialog {
    &.info {
      border-color: $info-colour;

      summary {
        background-color: $info-colour-background;
      }
    }

    &.log {
      border-color: $success-colour;

      summary {
        background-color: $success-colour-background;
      }
    }

    &.warn {
      border-color: $warning-colour;

      summary {
        background-color: $warning-colour-background;
      }
    }

    &.error {
      border-color: $danger-colour;

      summary {
        background-color: $danger-colour-background;
      }
    }
  }

  details {
    font-size: $font-size-s;

    opacity: 0.5;
    transition: opacity $default-transition;

    &[open],
    &:hover {
      opacity: 1;
    }

    summary {
      padding: $padding-small $padding-standard;
      padding-right: 2rem;
      overflow: hidden;

      line-height: $font-size-regular;
      list-style-type: none;
      text-overflow: ellipsis;
      white-space: nowrap;

      cursor: pointer;
    }

    .description {
      padding: $padding-small $padding-standard;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;

    border: none;

    background: none;

    font-size: $font-size-s;
    line-height: $font-size-regular;
  }
}

::-webkit-scrollbar-track {
  border-radius: $border-radius;

  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;

  background-color: var(--secondary-background-colour);
}

::-webkit-scrollbar-thumb {
  margin-top: $padding-small;

  border: 1px var(--secondary-background-colour) solid;
  border-radius: $border-radius;

  background-color: var(--theme-colour);

  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: var(--primary-font-colour);
  }
}

@media (scripting: none) {
  .settings,
  #Preferences,
  .mask {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  $section-margin-right: 5vw;

  main {
    padding: unset;
  }

  section {
    margin-right: $section-margin-right;
  }

  h1,
  h2,
  h3 {
    flex-direction: row;
  }

  .page-content {
    flex-direction: row;
  }
}

@media screen and (min-width: 1600px) {
  $section-margin-right: 10vw;

  html,
  body {
    font-size: $body-font-size;
  }

  section {
    margin-right: $section-margin-right;
  }
}
