@import './vars.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: $body-font-size;
}

body,
input,
button,
select {
  font-family: $font-family;
  font-size: $body-font-size;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;

  background-color: $background-colour;

  color: $primary-font-colour;
  line-height: 1.5;
  text-align: justify;
}

h1,
h2,
h3 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 0;
  column-gap: $padding-standard;
}

h1 {
  font-size: $font-size-xxl;
  font-weight: 900;
}

h2 {
  font-size: $font-size-xl;
  font-weight: 700;
}

h3 {
  font-size: $font-size-l;
}

a[aria-label],
button[aria-label] {
  position: relative;

  &:hover {
    &::after {
      position: absolute;
      bottom: 100%;
      left: 0rem;
      padding: 0.25rem 0.5rem;

      border-radius: $border-radius;

      background-color: $tooltip-colour;

      color: $background-colour;
      font-size: $font-size-s;
      font-weight: 400;

      content: attr(aria-label);
      pointer-events: none;
    }
  }
}

a,
input,
textarea,
button,
select,
label {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }
}

input[type='text'],
textarea {
  cursor: text;
}

a {
  color: $link-colour;

  &:visited {
    color: $link-visited-colour;
  }

  &:active {
    color: $theme-colour;
  }
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  white-space: nowrap;

  gap: $padding-small;

  &.radio-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 0.5em;
  }
}

input,
textarea,
select {
  margin: 0;

  border: 1px solid $primary-font-colour;
  border-radius: $border-radius;
}

input {
  &[type='checkbox'] {
    width: 1rem;
    height: 1rem;
    margin: 0.25rem;
  }

  &[type='radio'] {
    width: 1rem;
    height: 1rem;
  }
}

select {
  padding: $padding-small $padding-standard;
}

header,
nav,
main,
footer .content,
#Preferences {
  padding: $padding-small $padding-page-width;
}

main {
  flex: 1 0 auto;
  overflow: auto;

  button {
    padding: $padding-small $padding-standard;

    border-color: $secondary-background-colour;

    background-color: $secondary-background-colour;
  }
}

footer {
  position: relative;

  color: $background-colour;
  font-size: $font-size-s;

  transition: margin-top $default-transition;

  &.hide-settings {
    #Preferences {
      display: none;
    }
  }

  .content {
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding-top: $padding-standard;
    padding-bottom: $padding-standard;

    background-color: $theme-colour;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 1.5rem;

      background-color: transparent;

      color: $background-colour;
      font-size: $font-size-s;

      cursor: pointer;

      svg {
        fill: $background-colour;
      }
    }
  }

  .theme-picker {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: $padding-standard;
  }
}

nav {
  position: relative;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    list-style-type: none;

    gap: $padding-standard;

    li {
      flex-grow: 1;
    }
  }
}

blockquote {
  margin: 0;
  padding: $padding-small $padding-large;

  border-left: 5px solid $link-colour;

  font-style: italic;
}

.subhead {
  font-size: 1rem;
  font-weight: 400;

  opacity: 0.8;
}

button,
.tag {
  border: $border-width $theme-colour solid;
  border-radius: $border-radius;

  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    text-decoration: underline;
  }

  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    border: $border-width $theme-colour solid;
    // outline: none;
  }
}

.tag {
  display: block;
  width: 100%;
  padding: 0;

  background-color: $theme-colour;

  color: $background-colour;
  text-align: left;
  text-align: center;
  text-decoration: none;

  &:visited {
    color: $background-colour;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    div:before {
      left: calc(-1 * $padding-large + 2px);
    }
  }

  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    div:before {
      left: calc(-1 * $padding-large + $padding-small);
    }
  }

  &.selected {
    background-color: $primary-font-colour;
  }

  &.selected,
  &.selected:hover {
    div:before {
      left: calc(-1 * $padding-large + $padding-small);
    }
  }

  div {
    position: relative;
    width: 100%;
    padding: $padding-small $padding-standard;
    overflow: hidden;

    border-radius: calc($border-radius - $border-width);

    &:before {
      position: absolute;
      top: 0;
      left: calc(-1 * $padding-large);
      width: $padding-large;
      height: 100%;

      background-color: $background-colour;

      content: '';
      transition: left $default-transition;
    }
  }
}

#Preferences {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  column-gap: $padding-large;

  background-color: $primary-font-colour;

  row-gap: $padding-standard;
}

#SettingsButton {
  display: none;
}

#Notifications {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: flex-end;
  padding: $padding-standard;

  gap: $padding-small;

  dialog {
    position: relative;
    width: 50vw;
    max-width: 450px;
    margin: 0;
    padding: 0;

    border: 1px solid;
    border-radius: $border-radius;

    background-color: transparent;

    &.info {
      border-color: $info-colour;

      summary {
        background-color: $info-colour-background;
      }
    }

    &.log {
      border-color: $success-colour;

      summary {
        background-color: $success-colour-background;
      }
    }

    &.warn {
      border-color: $warning-colour;

      summary {
        background-color: $warning-colour-background;
      }
    }

    &.error {
      border-color: $danger-colour;

      summary {
        background-color: $danger-colour-background;
      }
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem;

      border: none;

      background: none;

      font-size: $font-size-s;
      line-height: $font-size-regular;
    }
  }

  details {
    font-size: $font-size-s;

    opacity: 0.5;
    transition: opacity $default-transition;

    &[open],
    &:hover {
      opacity: 1;
    }

    summary {
      padding: $padding-small $padding-standard;
      padding-right: 2rem;
      overflow: hidden;

      line-height: $font-size-regular;
      list-style-type: none;
      text-overflow: ellipsis;
      white-space: nowrap;

      cursor: pointer;
    }

    .description {
      padding: $padding-small $padding-standard;
    }
  }
}

@media screen and (min-width: 640px) {
  $padding-page-width: 10vw;

  header,
  nav,
  main,
  footer .content,
  #Preferences {
    padding: $padding-small $padding-page-width;
  }

  h1,
  h2,
  h3 {
    flex-direction: row;
  }

  .tag {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  $padding-page-width: 20vw;

  header,
  nav,
  main,
  footer .content,
  #Preferences {
    padding: $padding-small $padding-page-width;
  }
}
