@import './vars.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: $body-font-size;
}

body,
input,
button,
select {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: $body-font-size;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;

  background-color: $background-colour;

  color: $primary-font-colour;
}

h1,
h2,
h3 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 0;
  column-gap: $padding-standard;
}

h1 {
  font-size: $font-size-xxl;
  font-weight: 700;
}

h2 {
  font-size: $font-size-xl;
  font-weight: 700;
}

h3 {
  font-size: $font-size-l;
}

a,
button,
label {
  cursor: pointer;
}

a[aria-label],
button[aria-label] {
  position: relative;

  &:hover {
    &::after {
      position: absolute;
      bottom: 100%;
      left: 0rem;
      padding: 0.25rem 0.5rem;

      border-radius: $border-radius;

      background-color: $tooltip-colour;

      color: $background-colour;
      font-size: $font-size-s;
      font-weight: 400;

      content: attr(aria-label);
      pointer-events: none;
    }
  }
}

a {
  color: $link-colour;

  &:visited {
    color: $link-visited-colour;
  }

  &:active {
    color: $theme-colour;
  }
}

button {
  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: $padding-small;

  &.radio-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 0.5em;
  }
}

input,
textarea,
select {
  border: 1px solid $primary-font-colour;
  border-radius: $border-radius;
}

input {
  &[type='checkbox'] {
    transform: scale(1.5);
  }

  &[type='radio'] {
    width: 1rem;
    height: 1rem;
  }
}

select {
  padding: $padding-small $padding-standard;
}

header,
nav,
main,
footer,
#Preferences {
  padding: $padding-small $padding-page-width;
}

main {
  flex: 1 0 auto;
  overflow: auto;

  article {
    max-height: 100%;
  }

  button {
    padding: $padding-small $padding-standard;

    border-color: $secondary-background-colour;

    background-color: $secondary-background-colour;
  }
}

footer {
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  margin-top: $padding-large + $padding-small;
  padding-top: $padding-standard;
  padding-bottom: $padding-standard;

  background-color: $theme-colour;

  color: $background-colour;
  font-size: $font-size-s;

  button {
    display: flex;

    border: none;

    background-color: transparent;

    color: $background-colour;
    font-size: $font-size-s;

    cursor: pointer;
  }

  svg {
    fill: $background-colour;
  }
}

nav {
  position: relative;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    list-style-type: none;

    gap: $padding-standard;

    li {
      flex-grow: 1;
    }
  }
}

.subhead {
  font-size: 1rem;
  font-weight: 400;

  opacity: 0.8;
}

button,
.tag {
  border: $border-width $theme-colour solid;
  border-radius: $border-radius;

  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    text-decoration: underline;
  }

  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    border: $border-width $theme-colour solid;
    outline: none;
  }
}

.tag {
  display: block;
  width: 100%;
  padding: 0;

  background-color: $theme-colour;

  color: $background-colour;
  text-align: left;
  text-align: center;
  text-decoration: none;

  &:visited {
    color: $background-colour;
  }

  div {
    position: relative;
    width: 100%;
    padding: $padding-small $padding-standard;
    overflow: hidden;

    border-radius: calc($border-radius - $border-width);

    &:before {
      position: absolute;
      top: 0;
      left: calc(-1 * $padding-large);
      width: $padding-large;
      height: 100%;

      background-color: $background-colour;

      content: '';
      transition: left 200ms ease-in-out;
    }
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    div:before {
      left: calc(-1 * $padding-large + 2px);
    }
  }

  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    div:before {
      left: calc(-1 * $padding-large + $padding-small);
    }
  }

  &.selected,
  &.selected:hover {
    div:before {
      left: calc(-1 * $padding-large + $padding-small);
    }
  }
}

#Preferences {
  display: flex;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  margin: 0;

  background-color: $primary-font-colour;

  gap: $padding-large;

  &.hide {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  $padding-page-width: 10vw;

  header,
  nav,
  main,
  footer,
  #Preferences {
    padding: $padding-small $padding-page-width;
  }

  h1,
  h2,
  h3 {
    flex-direction: row;
  }

  .tag {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  $padding-page-width: 20vw;

  header,
  nav,
  main,
  footer,
  #Preferences {
    padding: $padding-small $padding-page-width;
  }
}
