html
  include templates/head.pug
  include templates/header.pug
  main
    article
      h2 Blog
        span(class="subhead") A collection of my thoughts...
      p This is my blog. Or at least, it's a holding page for it!
  include templates/footer.pug
  script(src="./scripts/blog.ts" type="module")