doctype html
html(lang="en-GB")
  include templates/head.pug
  include templates/header.pug
  include templates/nav.pug
  +navbar('blog')
  main
    article
      h2 Blog
        span.subhead A collection of my thoughts...
      p This is my blog. Or at least, it's a holding page for it!
  include templates/footer.pug
  template#BlogPostTemplate
    h3.blog-post-title 
      span.subhead
    p.blog-post-content
  script(src="./scripts/blog.ts" type="module")