doctype html
html(lang="en-GB")
  head
    include templates/head.pug
  div.page-content
    include templates/header.pug
    main
      noscript
        article
          h1 Blog
            span.subhead A collection of my thoughts...
          p
            | This is my blog. Or at least, it's a holding page for it! Unfortunately JavaScript is required 
            | to view this page in all of its glory and it appears to be disabled in your browser.
    include templates/nav.pug
    +navbar('blog')
  include templates/footer.pug
  template#BlogPostListTemplate
    article.blog-post
      h2
        a.blog-post-title
        span.subhead
      p.blog-post-description
  template#BlogPostTemplate
    article.blog-post
      h1
        span.blog-post-title
        span.subhead
      div.blog-post-content
  script(src="./scripts/blog.ts" type="module")