doctype html
html(lang="en-GB")
  head
    include templates/head.pug
    link(rel="stylesheet" href="./css/management.scss")
  include templates/header.pug
  include templates/nav.pug
  main
    h2 Management
    article
      h3 Add Blog Post 
      form#AddPostForm
        label Post Title *
          input(name="title" aria-label="Title for post" type="text" required)
        label Post Description *
          input(name="description" aria-label="Description for post" type="text" required)
        label Post Content *
          textarea(name="post" required)
        label.post-preview Post Preview 
          div#PostPreview
        label Post Categories
          input(name="categories" aria-label="Categories for post" type="text")
        label Id 
          input(name="id" aria-label="Id for updating existing post" type="text")
        button(type="submit" aria-label="Submit post") Submit
    article 
      h3 Add Link 
      form#AddLinkForm
        label Link Title *
          input(name="title" aria-label="Title for link" type="text" required)
        label Link URL *
          input(name="url" aria-label="URL for link" type="text" required)
        label Link Categories
          input(name="categories" aria-label="Categories for link" type="text")
        button(type="submit" aria-label="Submit link") Submit

  include templates/footer.pug
  script(src="./scripts/management.ts" type="module")